/*CSS:Cascading Style Sheets */
body{
    background-color: gray;
}
h2{
    color: white;
    font-size: 15px;
}
.title{
    color: red;
        
}
.card{
    background-color: white;
    width: 350px;
}
#special{
    background-color: red;
}
#spanid{
    font-size: 40px;
}
.backroundDiv{
    width: 400;
    height: 400;
    background-image: url("https://www.udemig.com/assets/images/Udemig.png");
    background-size: contain;" 
    background-repeat: no-repeat;
}
.text{
    border: 1px; border-color: black;
    font-size: 24;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    word-spacing: 30px;
    letter-spacing: 5px;
}
.text1{
    line-height: 30px;
    font-family: "Madimi One", sans-serif;
    font-size: 35px;
    font-style: italic;
  
}
a{
    text-decoration: none;
}
.udemig{
    color: blue;
}
.google{
    color: yellow;
}
.youtube{
    color: red;
}
ul{
    list-style-type: disc;
}
.border{
    border-top: 1px solid white;
    border-right: 1px dotted aqua;
    border-color: black;
    border-width: 4px;
    border: 2px solid blue;
    /* padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 10px; */
    padding: 20px 40px 20px 40px; 
    margin-top: 30px;  
    margin-right: 20px;
    margin-bottom: 30px;
    margin-left: 20px;
     

}
/* h1,h2,h3,p,span{
    color: green;
    background-color: black;
} */
table{
    width: 100%;
}
th,td{
    border: 1px solid black;
    padding: 4px;
    text-align: center;
}




    
